<div id="container" class="container">
  <div id="child">
    <div id="row" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
        <h3>Click right here to download my resume</h3>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
        <span>
          <i class="fas fa-arrow-down fa-2x" style="color: dodgerblue"></i>
        </span>
      </div>
      <div id="rowelement1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
        <div id="downloadbutton" (mouseover)="onButtonHover()" (mouseleave)="onButtonLeave()" (click)="onClick()">
        <a *ngIf="!isOverButton" class="btn" role="button" href="../../assets/CDV_CVFR.pdf" download="CDV_CVFR.pdf">cedricdevries.getResume();</a>
        <a *ngIf="isOverButton" class="btn blueborder" role="button" href="../../assets/CDV_CVFR.pdf" download="CDV_CVFR.pdf">cedricdevries.getResume();</a>
        </div>
      </div>
      </div>
    </div>
  </div>
